 /* Container for image and header */
.container_header {
    position: relative;
    text-align: center;
    color: white;
    
}

  /* text in container */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 300%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: darkblue;
    font-family: Verdana;
} 

body {
    background-color:lightblue;
    background-image: url("../images/pexels-pixabay-268415.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;}

h1 {
    font-size: 350%;
    font-family: fantasy;
    color: darkblue;
}

/* remove default margin and padding from body */
body {
    padding: 0;
    margin: 0;
}

.col-md-6{
    /* background-color: lightblue; */
    text-align: center;
}


/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
    height: 100%;
}

.legend {
    padding: 10px 10px;
    font: 14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    line-height: 24px;
    color: #555;
    }
  
    .legend i {
      width: 18px;
      height: 18px;
      float: left;
      margin-right: 8px;
      opacity: 0.7;
      }